.nav {
  position: fixed;
  top: 0.5rem; 
  width: 100vw; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  z-index: 50;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem; 
  background-color: #f8fafc; 
  border-radius: 0.375rem; 
  z-index: 50;
}

.brand {
  font-weight: bold;
  font-style: italic;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.navItem {
  list-style-type: none;
}

.navLink {
  color: #6b7280; 
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

.navLink:hover {
  color: #3b82f6; 
  text-decoration: underline;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
}

@media (min-width: 1024px) {
}
